@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Navbar Links */
.navbar-dark .navbar-nav .nav-link {
   
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

/* Navbar Brand */
.navbar-brand {
    font-family: 'Roboto Slab', serif;;
    font-size: 20px;
}

.dropdown-menu {
    background-color: gray;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.dropdown-item {
    color: white;
}

#navbarDropdownMenuLink {
    margin-right: 15px;
}


.flashes p {
    line-height: 2;
    color: blue;
}


#profile-text {
    color: cadetblue;
    font-size: 30px;
}




/* Search Bar */
#search-bar {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 15px;
}

#search-bar label {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

#search-bar-background {
    background-color: #C0C0C0
}
 /* console Icons */

 #console-icons p {
     font-size: 50px;
 }

/**Accordian Style**/

.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}

body  {background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    




/* card styling */
#back-card {
    background: #C0C0C0;
}

#page-title {
    font-weight: 600;
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}

label {
    color: black;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
}

#trade-background {
    background-color:#fafafa;
}

#card-content {
    background-color: #fafafa;
}

.accordionExample {
    background-color: red;
}

/* Jumbotron Css */

#bottom-jumbo {
    margin-top: 25px;
    background-color: #fafafa;
}



/* Button row */
#btn-row {
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 5px;
}


/* Text Decorations */
