@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/* Navbar Links */
.navbar-dark .navbar-nav .nav-link {
   
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
}

/* Navbar Brand */
.navbar-brand {
    font-family: 'Roboto Slab', serif;;
    font-size: 20px;
}

.dropdown-menu {
    background-color: gray;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.dropdown-item {
    color: white;
}

#navbarDropdownMenuLink {
    margin: auto;
}


.flashes p {
    line-height: 2;
    color: blue;
}


#profile-text {
    color: cadetblue;
    font-size: 30px;
}

/**Accordian Style**/

.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}

body {background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}



#back-card {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#page-title {
    font-weight: 600;
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}

label {
    color: black;
    font-size: 13px;
    font-family: 'Roboto Slab', serif;
}


/* Jumbotron Css */

#bottom-jumbo {
    margin-top: 25px;
}



/* Button row */
#btn-row {
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 5px;
}


/* Text Decorations */
