.navbar-dark .navbar-nav .nav-link {
    /**Nav elements/ color etc*/
}

.dropdown-menu {
    background-color: gray;
}

.dropdown-item {
    color: white;
}


.flashes p {
    line-height: 2;
    color: blue;
}


#profile-text {
    color: cadetblue;
    font-size: 30px;
}