{% extends "base.html" %} {% block content %}

<div class="jumbotron jumbotron-fluid" id="card-content">
    <div class="container">
        <h1 class="display-4 text-center">Got something to Trade?</h1>
        <p class="lead text-center">Fill in all the feilds below to start trading on StarTrade!</p>
    </div>
</div>

<h3 class="row d-flex justify-content-center center-text" id="page-title">List a Item</h3>

<div class="row card" id="back-card">
    <form class="col-sm-12" method="POST" action="{{ url_for('add_trade') }}">
        <!-- Game Title -->
        <div class="form-group row">
            <label for="game_name" class="col-sm-2 col-form-label"><i class="fas fa-gamepad"></i> Game Title</label>
            <div class="col-sm-12">
                <input type="text" name="game_name" minlength="5" maxlength="15" class="form-control" id="game_name" placeholder="Game Title" required />
            </div>
        </div>
        <!-- Trade Description -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="trade_desc"><i class="far fa-edit"></i> Trade Discription</label>
            <div class="col-sm-12">
                <textarea class="form-control" name="trade_desc" id="trade_desc" minlength="5" maxlength="200" rows="3" required></textarea>
            </div>
        </div>
        <!-- A switch for (if the trade will be negotable)-->
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" name="is_negotiable" id="is_negotiable" />
                <label class="custom-control-label" for="is_negotiable">Negotiable <i class="fas fa-exclamation-circle"></i></label>
            </div>
        </div>

        <!-- Console selction -->
        <div class="form-group row">
            <label for="console_name" class="col-sm-2 col-form-label">
                <i class="fas fa-globe" data-toggle="tooltip" data-placement="right" title="Make sure you pick the correct platform in which the item residess"></i> Gaming Console
            </label>
            <div class="col-sm-12">
                <select class="custom-select" name="console_name" id="console_name" required>
                    <option selected>Choose a console</option>
                    {% for console in console_type %}
                    <option value="{{ console.console_name }}">{{ console.console_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Platform GamerTag / or contact infromation for trading card deals -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="gamer_tag">Contact Seller <i class="fas fa-user-friends" data-toggle="tooltip" data-placement="right" title="What is the best way for the buyer to contact you?"></i></label>
            <div class="col-sm-12">
                <textarea class="form-control" name="gamer_tag" id="gamer_tag" minlength="5" maxlength="200" rows="3" required></textarea>
            </div>
        </div>
        <div class="form-group row text-center">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-secondary">List Item <i class="fas fa-plus-square right"></i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
