{% extends "base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
<h3 class="row d-flex justify-content-center center-text" id="page-title">All Current Trades</h3>

<div class="row d-flex justify-content-center center-text">
    <div class="card col-lg-9 mx-auto">
        <form action="{{ url_for('search') }}" method="post">
        <div class="input-group col-lg-9 mx-auto">
            <div class="form-outline">
              <input type="text" id="query" name="query" minlength="3" class="form-control" required />
              <label class="form-label" for="query">Search Trades</label>
            
            <a href="{{ url_for('get_trades') }}"><button type="button" class="btn btn-danger text-center">Reset</button></a>
            <button type="submit" class="btn btn-primary">
              Search<i class="fas fa-search"></i>
            </button>
            </div>
          </div>
        </form> 
    </div>
</div>

    
<div class="row">
    <div class="col-lg-9 mx-auto">
        <!-- Accordion -->
        <div id="accordionExample" class="accordion shadow">
            {% for trade in trades %}
            <!-- Accordion item 1 -->
            <div class="card">
                <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                    <h2 class="mb-0">
                        <button type="button" data-toggle="collapse" data-target="#collapseOne-{{loop.index}}" aria-expanded="true"
                            aria-controls="collapseOne"
                            class="btn btn-link text-dark font-weight-bold text-uppercase">Game : {{ trade.game_name }} <i class="fas fa-caret-down"></i></button>
                        {% if trade.is_negotiable == "on" %}
                        <i class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="right"
                            title="Trade is negotiable by seller!"></i>
                        {% endif %}
                    </h2>

                </div>
                <div id="collapseOne-{{loop.index}}" aria-labelledby="headingOne" data-parent="#accordionExample"
                    class="collapse">
                    <div class="card-body p-5">
                        <strong>Tradeable on: {{ trade.console_name }}</strong>
                        <p>{{ trade.trade_desc }}</p>
                        <strong>Contact Seller</strong>
                        <p>{{ trade.gamer_tag }}</p>
                        <p><em>Listed by: {{ trade.created_by }}</em></p>
                        <div id="#btn-row">
                            {% if session.user|lower == trade.created_by|lower %}
                                <a href="{{ url_for('delete_trade', trade_id=trade._id) }}"><button type="button" class="btn btn-success text-center">Item Sold</button></a>
                                <a href="{{ url_for('edit_trade', trade_id=trade._id) }}"><button type="button" class="btn btn-secondary text-center">Edit Trade <i class="fas fa-wrench"></i></button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>   
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
{% endblock %}