{% extends "base.html" %}

{% block content %}
<div class="hidden-bg">
    <div class="card card-content col-md-8 mx-auto">
        <h1 class="display-3 text-center">Welcome to StarTrade <i class="fas fa-star-half-alt"></i></h1>
        <p class="lead text-center"><i>Find the Best Trades with StarTrade! </i></p>
        
    </div>

    <div class="card card-content col-md-8 mx-auto">
        <h2 class="display-5 text-center">We offer trades for popular consoles and even trading cards! </h2>
        <hr class="my-4"/>
        <p class="text-center">Below are the most popular networks on the site! </p>
        <p class="text-center" id="console-icons">
            <strong><i class="fab fa-xbox"></i> <i class="fab fa-playstation"></i> <i class="fab fa-steam"></i> <i class="fab fa-internet-explorer"></i></strong>
        </p>
        <p class="text-center">At StarTrade we want to connect people that are willing <br>to trade something of theirs. It can be a video game, a physical item, it could even be food!<br>
        So please sign up to get your trading adventures started! We are always here to help!</p>
        
    </div>
</div>
<div class="card" id="trade-background">
    <div class="row" id="search-bar">
        <div class="card card-content col-md-8 mx-auto" id="search-bar-background">
            <form action="{{ url_for('search') }}" method="post">
                <div class="input-group">
                    
                    <div class="row">
                        <div class="col-sm">
                            <p class="text-center directions">
                                <i><strong>Trading Directions:</strong></i><br>
                                <i>1. Create a Username to start listing your items.</i><br>
                                <i>2. Once created under "seller functions" click "New Trade".</i><br>
                                <i>3. Then fill in all the information you need for a buyer to contact you!</i><br>
                                <i>4. Once you click list you will see your item listed!</i><br><br>
                            </p>
                        </div>
                        <div class="col-sm">
                            <p class="text-center directions">
                                <i><strong>*Important!*</strong><br>
                                    Please make sure to log back in and mark item as sold!</i><br>
                                <i>Each listing has instructions for buyers to contact the seller!</i><br>
                                <i>When seeing <i class="fas fa-exclamation-circle" data-toggle="tooltip"
                                    data-placement="right" title="Trade is negotiable by seller!">
                                </i> means that the seller is willing to negotiate!</i><br>
                            </p>
                        </div>
                        <div id="seach-box" class="form-outline col-12">
                            <label class="form-label text-center for="query"><strong>Search Trades</strong></label>
                            <input type="text" id="query" name="query" minlength="3" class="form-control text-center mb-0" required />
                            <a href="{{ url_for('get_trades') }}"><button type="button" class="btn btn-secondary text-center">Reset</button></a>
                            <button type="submit" class="btn btn-secondary">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <!-- Accordion -->
            <div id="accordionExample" class="accordion shadow">
                {% for trade in trades %}
                <!-- Accordion item 1 -->
                <div class="card trading-background">
                    <div class="card-header shadow-sm border-0">
                        <h2 class="mb-0">
                            <button type="button" data-toggle="collapse" data-target="#collapseOne-{{loop.index}}" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link text-dark font-weight-bold text-uppercase">
                              {{ trade.game_name }} <i class="fas fa-caret-down"></i>
                            </button>
                            {% if trade.is_negotiable == "on" %}
                            <i class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="right" title="Trade is negotiable by seller!"></i>
                            {% endif %}
                        </h2>
                    </div>
                    <div id="collapseOne-{{loop.index}}" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                            <strong>Tradeable on: {{ trade.console_name }}</strong>
                            <p>{{ trade.trade_desc }}</p>
                            <strong>Contact Seller</strong>
                            <p>{{ trade.gamer_tag }}</p>
                            <p><em>Listed by: {{ trade.created_by }}</em></p>
                            <div class="btn-row">
                                {% if session.user|lower == trade.created_by|lower %}
                                <a href="{{ url_for('delete_trade', trade_id=trade._id) }}"><button type="button" class="btn btn-success text-center">Item Sold</button></a>
                                <a href="{{ url_for('edit_trade', trade_id=trade._id) }}">
                                    <button type="button" class="btn btn-secondary text-center">Edit Trade <i class="fas fa-wrench"></i></button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
